<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
  <div class="main">
    <form action="" method="post">
    <div>
      <label for="pname">이름</label>
      <input type="text" class="cost" name="pname">
    </div>
    <div>
      <label for="pcost">비용</label>
      <input type="text" class="" name="pcost">
    </div>
    <div>
      <label for="ptext">내용</label>
      <input type="text" class="" name="ptext">
    </div>
    <div>
      <input type="submit" class="btn" value="저장">
    </div>
    </form>
  </div>
</div>
</body>
</html>